

@font-face {
    font-family: 'd-dindin-bold';
    src: url(../Type/'h1-dinb-webfont.woff2') format('woff2'),
         url(../Type/'h1-dinb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}

h4 {
    font-family: 'd-dindin-bold', sans-serif;
    color: 'white';
}
